<table>
    <tr>
        <!-- <td><app-search [searchVal]="searchTerm"></app-search></td>
        <td><app-categories-dropdown [catVal]="category"></app-categories-dropdown></td> -->
        <td><input matInput type="search" [(ngModel)] = "searchTerm"></td>
        <td>
            <mat-form-field>
                <mat-label>Categories</mat-label>
                <mat-select [(ngModel)] = "category">
                    <mat-option *ngFor="let cat of categories" [value]="cat">
                    {{cat}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
</table>
<app-posting-container [searchVal]="searchTerm" [catVal]="category"></app-posting-container>
