<div>

    <table *ngFor = 'let post of postings' (click)="goToPost(post.id)">
        <tr>
            <td>{{post.title}}</td>
        </tr>
        <tr>
            <td>{{post.category}}</td>
        </tr>
        <tr>
            <td><img src={{post.imageUrl}} alt="error" width = "300px" height = "300px"></td>
        </tr>
        <tr><td>{{post.description}}</td></tr>
        <tr><td>{{post.initDate}}</td></tr>
        <tr><td>{{post.endDate}}</td></tr>
        <tr><td>{{post.user.email}}</td></tr>
        <tr><td>{{post.user.phoneNumber}}</td></tr>
    </table>

    <!-- <div>
    <jw-pagination postings[]="items" (pageChange)="onPageChange($event)"></jw-pagination>
    </div> -->
</div>