
    <!-- title:string; -->
    <div>
        <button onclick="createPost()">Create Post</button></div>
<div>
    <table>
        <tr>
            <th>Posting title></th><th>Category</th><th>Location</th><th>End date</th>
        </tr>
        <tr><td><input type="text" id="title"></td>
            <td><select id="categoriesDropdown"></select></td>
            <td><input type="text" id="location"></td>
            <td><input type="date" id="endDate"></td>
        </tr>
</table>
</div>
<div>
    <h4>Description</h4>
</div>
<div>
    <input type="text" id="description">
</div>


    
