<div class='flex-container'>
    <mat-card *ngFor="let post of postings">
        <mat-card-header>
            <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{post.img}}" alt="No Image">
        <mat-card-content>
            <p>{{post.description}}</p>
            <table>
                <tr><td>Category</td><td>{{post.category}}</td></tr>
                <tr><td>Location</td><td>{{post.location}}</td></tr>
                <tr><td>Posted</td><td>{{post.initDate | date}}</td></tr>
                <tr *ngIf="post.endDate>0"><td>Ending</td><td>{{post.endDate | date}}</td></tr>
                <tr><td>Poster</td><td>{{post.user.username}}</td></tr>
                <tr *ngIf="post.user.email"><td>Email</td><td>{{post.user.email}}</td></tr>
                <tr *ngIf="post.user.phoneNumber"><td>Phone</td><td>{{post.user.phoneNumber}}</td></tr>
            </table>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-raised-button color="primary" (click)="editPost(post.id)">Edit</button> -->
            <button mat-raised-button color="secondary" (click)="deletePost(post.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>