<input type="text" [(ngModel)] = "searchTerm"> <br>
<button (click)="search()">Search</button>;

<mat-card *ngFor="let post of postings | filter: searchTerm">
    <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{post.imageUrl}}">
    <mat-card-content>
        <table>
            <tr><td>{{post.description}}</td></tr>
            <tr><td>{{post.initDate}}</td></tr>
            <tr><td>{{post.endDate}}</td></tr>
            <tr><td>Seller {{post.user.username}}</td></tr>
            <tr><td>{{post.user.email}}</td></tr>
            <tr><td>{{post.user.phoneNumber}}</td></tr>
        </table>
    </mat-card-content>
</mat-card>