<mat-toolbar color="primary">
	<mat-toolbar-row>
		<!-- User is logged in -->
		<div *ngIf="user == undefined">
			<button mat-raised-button (click)="hub(user)">User Hub</button>
			<button mat-raised-button (click)="market(user)">Market</button>
			<button mat-raised-button (click)="logout(user)">Logout</button>
		</div>
		<!-- User is not logged in -->
		<div *ngIf="user != undefined">
			<button mat-raised-button (click)="login()">Login</button>
			<button mat-raised-button (click)="register()">Register</button>
		</div>
	</mat-toolbar-row>
</mat-toolbar>